$padding-1: 1px;
$padding-4: .25rem;
$padding-8: .5rem;
$padding-16: 1rem;

$font-size-12: .75rem;
$font-size-14: .875rem;
$font-size-16: 1rem;

$size-48: 3rem;
$size-56: 3.5rem;
$size-72: 4.5rem;

$body-background: white;
$body-font-color: #343a40;

$color-accent: rgba(255,255,255,0.3);
$color-discord: #738BD8;

@mixin fill-parent() {
  position: absolute;
  height: 100%;
  width: 100%;
}

html, body {
  font-family: Rajdhani, sans-serif;
  color: $body-font-color;
  background: $body-background;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.muted {
  opacity: 0.75;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.pure-g [class*=pure-u] {
  font-family: Rajdhani, sans-serif;
}

.pure-button {
  font-weight: 600;
  margin: $padding-4;

  &.pure-button-outline {
    background: transparent;
    border: $padding-1 solid white;
    border-radius: $padding-4;
    color: white;

    min-width: 8rem;

    transition: ease-out 0.3s;
    transition-property: border, background-color;

    &:hover {
      background-color: $color-accent;
    }
  }
}

.box {
  padding: $padding-16;
  box-sizing: border-box;
}

// stack horizontal
.flex-horizontal {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

// stack vertical
.flex-vertical {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  margin-top: $padding-16;
  padding-top: $padding-16;
  padding-bottom: $padding-16;

  .section-header {
    margin-top: $padding-16;
    text-align: center;
    text-transform: uppercase;
  }
}

.header {
  height: 85%;
  overflow: hidden;
  position: relative;

  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.33);

  video {
    @include fill-parent;
    object-fit: cover;
    background: $body-font-color;
  }

  .header-content {
    @include fill-parent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      text-shadow: -1px 0 2px rgba(0,0,0,0.5);
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      margin: $padding-16 0;
      color: #FFF;
    }
  
    .header-buttons {
      padding: $padding-16;
      display: flex;
      justify-content: center;
    }
  }
}

.quote {
  .avatar {
    height: $size-48;
    width: $size-48;
    margin: $padding-16;
    border-radius: 50%;
  }

  h4 {
    margin-top: $padding-16;
    margin-bottom: $padding-8;
  }
}

.tile {
  padding: $padding-8;
  border-radius: $padding-4;
  min-height: 10rem;

  transition: ease-out 0.3s;
  transition-property: box-shadow, transform, box-shadow;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    box-shadow: 0 $padding-4 $padding-4 rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }

  &.planetside2 {
    background-image: url(https://assets-cdn.daybreakgames.com/uploads/dcsclient/000/000/006/943.jpg);
  }
  &.pubg {
    background-image: url(https://images4.alphacoders.com/827/thumb-1920-827439.jpg);
  }
  &.csgo {
    background-image: url(https://vignette.wikia.nocookie.net/cswikia/images/5/50/Wiki-background/revision/latest?cb=20151023021401);
  }
  &.overwatch {
    background-image: url(https://avante.biz/wp-content/uploads/Overwatch-Wallpapers/Overwatch-Wallpapers-001.jpg);
  }
  &.arma3 {
    background-image: url(https://cyberpowerpc.files.wordpress.com/2015/09/armhead2.jpg);
  }
  &.more {
    color: white;
    background-image: url(https://bulk2.destructoid.com/ul/218043-GotYMainImage.jpg);
    
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.footer {
  background-color: $body-font-color;
  background-image: url(media/tr-soldier.png);
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position: right bottom;

  color: white;
  padding-top: $padding-16 * 2;
  padding-bottom: $padding-16 * 2;
  
  .pure-menu-link {
    color: #AAA;
    background: none;

    &:hover {
      color: white;
    }
  }
}