<p>
  <strong>Our vision</strong> is to become a formidable, respected and efficient gaming community, able and capable of fighting against
  heavy odds, anywhere, anytime.
</p>
<p>
  The main mission of Myrmidons United (MyMs) is to build a friendly and relaxed community, based on positive values of trust,
  unity, cooperation and willingness to learn; creating a formidable, frightening and mercilessly effective player base,
  while staying level headed, respectful and open towards all parts of the community and passionate about the glorious game
  that is Planetside 2, for years to come.
</p>