<!-- Section: Communication -->
<div class="section" id="communication">
  <div class="pure-g content">
    <div class="pure-u-1 pure-u-md-1-2 box text-justify">
      <h2 class="section-header">Communication</h2>
      <p>
        We only use discord as a form of communication and highly recommend you are active on it. We truly hope that you will take
        our discord and use it regularly as it is the only place we chill and all relax together. If you need any rooms or
        spaces to be created for whatever reason please do ask.
      </p>
      <p class="text-center">
        <a class="pure-button discord" href="{{ .Params.discordUrl }}" target="_blank">Join Discord</a>
      </p>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 box text-justify">
        <iframe src="{{ .Params.discordWidget }}" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
  </div>
</div>