<div class="background">
  <video autoplay loop muted preload="metadata">
    <!-- https://www.youtube.com/watch?v=_VxeI0T_Xsg -->
    <source src="{{ .Params.headerVideo }}" type="video/mp4">
  </video>
</div>
<div class="header box text-center">
  <h1 data-aos="fade" data-aos-once="true" data-aos-delay="200">
    <span class="muted">[MyMs]</span> Myrmidons United
  </h1>
  <div data-aos="fade" data-aos-once="true" data-aos-delay="400">
    <a class="pure-button pure-button-outline" href="#" disabled>Sign Up</a>
    <a class="pure-button pure-button-outline" href="#" disabled>Forum</a>
    <a class="pure-button pure-button-outline" href="{{ .Params.discordUrl }}" target="_blank">Discord</a>
  </div>
</div>