<!-- Section: Outfit rules -->
<div class="section" id="rules">

  <div class="pure-g content">
    <h2 class="pure-u-1 section-header">Outfit Rules</h2>
  </div>

  <div class="pure-g content">
    <div class="pure-u-1 pure-u-md-1-2 box text-justify">
      <p>
        This Code of Conduct applies to all MyMs branches, be it our TR, NC or VS outfit, and to organizational structures in other
        games (for example Rainbow 6, Overwatch, PUBG…). Its purpose is to protect the integrity, credibility and reputation
        of the outfit. Not respecting the Code of Conduct could result in a rank demotion, or removal from the outfit.
      </p>
      <p>
        Myrmidons United is a closed outfit therefore joining the ranks is hard and provides a challenge for you to be accepted in
        such a high prestigeous community. We do not recommend you join us unless you believe that you will fit in and make
        a mark within our community.
      </p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 box text-justify">
      <ol>
        <li>Do not be a cunt</li>
        <li>Remember, that we always represent the values of the Myrmidons United Gaming Community with our conduct, actions
          and yells.</li>
        <li>Do not cheat, hack, or exploit in any way. This includes stat padding.</li>
        <li>Be respectful towards your outfit mates as well as other players, no matter the faction or the outfit they are in.
        </li>
        <li>When using community platforms (especially Reddit and official PS2 forums), you only speak for yourself. Do not attempt
          to tangle MyMs as an outfit into unnecessary conflict.</li>
        <li>Use appropriate language. Limit swearing as much as possible, do not insult people based on their race, gender, sexual
          orientation or political orientation.</li>
        <li>Administration always welcomes collaboration with other parts of the community, just come and talk. That said, poaching
          (attempts at recruiting) players for another community and/or promotion of other communities and outfits are forbidden.</li>
        <li>While playing games, we welcome you to be on Discord. In the case you won’t play the game for extended period of
          time please let Administration know before you go missing in action.</li>
      </ol>
    </div>
  </div>

</div>