$padding-1: 1px;
$padding-4: .25rem;
$padding-8: .5rem;
$padding-16: 1rem;

$font-size-12: .75rem;
$font-size-14: .875rem;
$font-size-16: 1rem;

$size-48: 3rem;
$size-56: 3.5rem;
$size-72: 4.5rem;

$body-background: white;
$body-font-color: #343a40;

$color-discord: #738BD8;

@mixin break-md {
  @media screen and (min-width: 48em) {
    @content;
  }
}

html, body {
  font-family: Rajdhani, sans-serif;
  color: $body-font-color;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

html {
  font-size: 16px;
  background: $body-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

ol {
  padding-left: $padding-16;
}

.muted {
  opacity: 0.75;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.pure-g.block {
  display: block;
  overflow: hidden;
}

.pure-g [class*=pure-u] {
  font-family: Rajdhani, sans-serif;
}

.pure-button {
  font-weight: 600;
  margin: $padding-4;
  min-width: 9rem;
  border-radius: $padding-4;
  
  transition: ease-out 0.3s;
  transition-property: border, background-color;

  &.pure-button-outline {
    background: transparent;
    border: $padding-1 solid $body-background;
    
    color: $body-background;
    
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }

  &.discord {
    background: $color-discord;
    color: $body-background;

    &:hover {
      background-color: darken($color-discord, 5%);
    }
  }
}

.badge {
  height: 1.75rem;
  display: flex;
  align-items: center;

  margin: $padding-8 0;

  img {
    height: 100%;
    border-radius: 50%;
    margin-right: $padding-8;
  }
}

.box {
  padding: $padding-16;
  box-sizing: border-box;
}

// stack horizontal
.flex-horizontal {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

// stack vertical
.flex-vertical {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  background: $body-background;

  padding-top: $padding-16 * 2;
  padding-bottom: $padding-16 * 2;

  .section-header {
    text-align: center;
    text-transform: uppercase;
  }
}

.background {
  position: fixed;
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.header {
  height: 85%;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    text-shadow: -1px 0 2px rgba(0,0,0,0.5);
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin: $padding-16 0;
    color: #FFF;
  }
}

@include break-md {
  .card {
    background: $body-background;
    box-shadow: 0 $padding-8 $padding-16 rgba(0, 0, 0, 0.2);
    padding: $padding-16 $padding-16 * 2;
    margin: $padding-16 0;

    &.left {
      margin-left: $padding-16 / 2;
      margin-right: -$padding-16;
    }

    &.right {
      margin-top: $size-72;
    }
  }
}

.notch {
  height: 60%;
  box-shadow: inset 0 0 $padding-16 rgba(0,0,0,0.25);
}

.tile {
  padding: $padding-8;
  border-radius: $padding-4;
  min-height: 10rem;

  transition: ease-out 0.3s;
  transition-property: box-shadow, transform, box-shadow;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    box-shadow: 0 $padding-4 $padding-4 rgba(0, 0, 0, 0.33);
    transform: scale(1.05);
  }

  &.more {
    color: $body-background;
    background-image: url(media/games/etc.jpg);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.footer {
  background-color: $body-font-color;
  background-image: url(media/tr-soldier.png);
  background-repeat: no-repeat;
  background-size: 14rem;
  background-position: right bottom;

  color: $body-background;
  
  .pure-menu-link {
    color: darken($body-background, 33%);
    background: none;

    &:hover {
      color: $body-background;
    }
  }
}